@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  font-family: Montserrat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  background-color: #FDFDFD;
  --secondary: #E9ECEF;
  --text-secondary: #6C757D;
  --text-primary: rgba(222, 226, 230, 1);
  --background-section: #FFFFFF;
  --border: rgba(224, 224, 224, 1);
  --blue: rgba(13, 110, 253, 1);
  --danger: rgba(220, 53, 69, 1);
}